<div class="form-horizontal">
<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <label class="control-label">Site</label>
    <div class="controls">
      <%= f.text_field :site %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Latitude</label>
    <div class="controls">
      <%= f.text_field :latitude %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Longitude</label>
    <div class="controls">
      <%= f.text_field :longitude %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Level</label>
    <div class="controls">
      <%= f.select :level, options_for_select( [["Primary",1], ["Alternate",2]] ) %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Sampled Types Needed</label>
    <div class="controls">
      <%= f.select :need, options_for_select( [["Fish",1], ["Fish and Demo",2]] ) %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Completion Status</label>
    <div class="controls">
      <%= f.select :color, options_for_select( [["Nothing Complete",1], ["All Complete",2],["Fish Only Complete",3], ["Demo Only Complete",4]] ) %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Is Reserved</label>
    <div class="controls">
      <%= f.check_box :is_reserved %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
