<div class="fixed-table">
<div class="table-content">
  <table class ="dataTable" id="dataTable">

    <thead class="header">
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Fish/LPI Complete Date</th>
      <th>Fish/LPI Complete Agency</th>
      <th>Demo Complete Date</th>
      <th>Demo Complete Agency</th>
      <th>Status</th>
      <th>is this Reserved</th>
    </tr>
    </thead>

    <% @locations.each do |location| %>
      <tr class="rowElement <%= location.is_reserved %>">
      <td class="name"><%= location.site %></td>
      <td class="lat"><%= location.latitude %></td>
      <td class="lon"><%= location.longitude %></td>
      <td><%= best_in_place location, :fish_complete_date, :type => :date, :nil => "---------", :html_attrs => {:class => "datepicker"} %></td>
      <td><%= best_in_place location, :fish_complete_agnecy, :type => :input, :nil => "---------" %></td>
      <td><%= best_in_place location, :demo_complete_date, :type => :date, :nil => "---------", :html_attrs => {:class => "datepicker"} %></td>
      <td><%= best_in_place location, :demo_complete_agency, :type => :input, :nil => "---------" %></td>
      <td><%= best_in_place location, :color, :type => :select, :collection => [[1,"not started"], [2,"all complete"], [3,"fish/lpi complete"], [4,"demo complete"]] %></td>
      <td><%= best_in_place location, :is_reserved, type: :checkbox, collection: ["No", "Yes"], classes:"isreserved" %></td>
    </tr>
    <% end %>
  </table>
</div>
</div>


