<!DOCTYPE html>
<html>
<head>
  <title>GmapTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= google_maps_api %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
          <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
